absl-py==0.9.0
alabaster==0.7.12
alembic==1.7.7
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
antlr4-python3-runtime==4.7.2
appdirs==1.4.4
applaunchservices==0.2.1
appnope==0.1.0
appscript==1.0.1
argcomplete==1.12.3
argh==0.26.2
asn1crypto==1.3.0
astor==0.8.1
astroid==2.3.3
astropy==4.0
atomicwrites==1.3.0
attrs==20.3.0
autograd==1.3
autopage==0.5.0
autopep8==1.4.4
autoray==0.2.5
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
bitarray==1.2.1
bkcharts==0.2
black==20.8b1
bleach==3.1.0
blocksparse==1.13.1
bokeh==1.4.0
boto==2.49.0
Bottleneck==1.3.2
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.0
cfgv==3.2.0
chardet==3.0.4
charset-normalizer==2.0.12
chex==0.1.1
chromedriver-autoinstaller==0.2.2
cirq==0.10.0
cirq-aqt==0.12.0
cirq-core==0.12.0
cirq-google==0.12.0
cirq-ionq==0.12.0
cirq-pasqal==0.12.0
cirq-rigetti==0.12.0
cirq-web==0.12.0
click==7.1.2
cliff==3.10.1
cloudpickle==1.3.0
clyent==1.2.2
cma==3.0.3
cmaes==0.8.2
cmake==3.21.3
cmd2==2.4.0
colorama==0.4.3
colorlog==6.6.0
conda==4.8.3
conda-build==3.18.11
conda-package-handling==1.6.0
conda-verify==3.4.2
contextlib2==0.6.0.post1
coremltools==3.3
coverage==5.5
cryptography==2.8
cvxopt==1.2.6
cvxpy==1.1.12
cycler==0.10.0
Cython==0.29.15
cytoolz==0.10.1
dask==2.11.0
decorator==4.4.1
defusedxml==0.6.0
deprecation==2.1.0
diff-match-patch==20181111
dill==0.3.3
dimod==0.9.14
distlib==0.3.1
distributed==2.11.0
dlx==1.0.4
dm-tree==0.1.6
docplex==2.21.207
docutils==0.16
ecos==2.0.7.post1
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
fastdtw==0.3.4
fastjsonschema==2.15.1
filelock==3.0.12
flake8==3.9.1
Flask==1.1.1
flatbuffers==2.0
flax==0.4.0
fonttools==4.28.2
fsspec==0.6.2
future==0.18.2
gast==0.2.2
gcc7==0.0.7
geckodriver-autoinstaller==0.1.0
gevent==1.4.0
glob2==0.7
gmpy2==2.0.8
google-api-core==1.21.0
google-auth==1.18.0
google-pasta==0.2.0
googleapis-common-protos==1.52.0
graphviz==0.17
greenlet==0.4.15
grpcio==1.29.0
h11==0.9.0
h5py==3.2.1
HeapDict==1.0.1
html5lib==1.0.1
httpcore==0.11.1
httpx==0.15.5
hypothesis==5.5.4
identify==2.2.3
idna==2.10
imageio==2.6.1
imagesize==1.2.0
immutables==0.6
importlib-metadata==3.10.1
importlib-resources==5.4.0
inflection==0.5.1
intervaltree==3.0.2
ipykernel==5.1.4
ipython==7.12.0
ipython_genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.16
isort==4.3.21
itsdangerous==1.1.0
jax==0.3.4
jaxlib==0.3.2
jdcal==1.4.1
jedi==0.14.1
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.1
jsonschema==3.2.0
julia==0.5.7
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==21.1.0
kiwisolver==1.1.0
lark==0.11.3
lazy-object-proxy==1.4.3
lea==3.4.0
libarchive-c==2.8
lief==0.9.0
llvmlite==0.31.0
locket==0.2.0
lxml==4.8.0
Mako==1.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.5.0
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==4.0.1
more-itertools==8.2.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
multitasking==0.0.9
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
nltk==3.4.5
nodeenv==1.6.0
nose==1.3.7
notebook==6.0.3
ntlm-auth==1.5.0
numba==0.48.0
numexpr==2.7.1
numpy==1.21.2
numpydoc==0.9.2
olefile==0.46
openfermion==1.0.1
openfermioncirq==0.4.0
openfermionpsi4==0.5
openfermionpyscf==0.5
openpyxl==3.0.3
opt-einsum==3.2.1
optax==0.1.1
optuna==2.10.0
osqp==0.6.1
overrides==3.1.0
packaging==20.1
pandas==1.0.1
pandocfilters==1.4.2
parso==0.5.2
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathspec==0.8.1
pathtools==0.1.2
patsy==0.5.1
pbr==5.8.1
PennyLane==0.18.0
PennyLane-Lightning==0.18.0
PennyLane-Qchem==0.17.0
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pkginfo==1.5.0.1
plotly==4.11.0
pluggy==0.13.1
ply==3.11
pre-commit==2.12.0
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.13.0
psutil==5.6.7
ptyprocess==0.6.0
PubChemPy==1.0.4
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.7.0
pycodestyle==2.7.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.5
pydantic==1.8.2
pydocstyle==4.0.1
pydot==1.4.1
pydotplus==2.0.2
pyflakes==2.3.1
Pygments==2.5.2
PyJWT==1.7.1
pylatexenc==2.10
pylint==2.4.4
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyperclip==1.8.2
pyportfolioopt==1.4.1
pyquil==2.28.2
pyrsistent==0.15.7
pyscf==1.7.6
PySocks==1.7.1
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-cov==2.11.1
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-constraint==1.4.0
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
python-rapidjson==0.9.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==18.1.1
qcs-api-client==0.8.0
QDarkStyle==2.8
-e git+https://github.com/zapatacomputing/qe-cli-wrapper.git@dbee59551c40eca364009abb77af3575ca915335#egg=qe_cli_wrapper
-e git+https://github.com/zapatacomputing/qe-qulacs.git@a5f0662cab046e854104c7aed51962cc4ad05d89#egg=qe_qulacs
qiskit==0.28.0
qiskit-aer==0.8.2
qiskit-aqua==0.9.4
qiskit-ibmq-provider==0.15.0
qiskit-ignis==0.6.0
qiskit-terra==0.18.0
QtAwesome==0.6.1
qtconsole==4.6.0
QtPy==1.9.0
Quandl==3.6.1
Qulacs==0.2.0
regex==2021.4.4
requests==2.27.1
requests-ntlm==1.1.0
resampy==0.2.1
retry==0.9.2
retrying==1.3.3
retworkx==0.9.0
rfc3339==6.2
rfc3986==1.5.0
rope==0.16.0
rpcq==3.9.2
rsa==4.7.2
Rtree==0.9.3
ruamel.yaml.clib==0.2.0
ruamel_yaml==0.15.87
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.7.1
scs==2.1.2
seaborn==0.10.0
selenium==3.141.0
semantic-version==2.6.0
Send2Trash==1.5.0
sentry-sdk==1.1.0
setuptools-scm==6.3.2
simplegeneric==0.8.1
simpy==4.0.1
singledispatch==3.4.0.3
six==1.16.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
Sphinx==2.4.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.2.0
spyder==4.0.1
spyder-kernels==1.8.1
SQLAlchemy==1.3.13
statsmodels==0.11.0
stevedore==3.5.0
symengine==0.7.2
sympy==1.5
tables==3.6.1
tblib==1.6.0
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
tensorflow-quantum==0.5.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.2
tomli==1.2.2
toolz==0.10.0
torch==1.5.0
torchvision==0.6.0a0+82fd1c8
tornado==6.0.3
tox==3.23.0
tqdm==4.42.1
traitlets==4.3.3
turicreate==6.4.1
tweedledum==1.1.0
typed-ast==1.4.3
typing-extensions==3.7.4.3
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.8
virtualenv==20.4.3
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==2.0.0
xgboost==1.2.0
xlrd==1.2.0
XlsxWriter==1.2.7
xlwings==0.17.1
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.28.0
yellowbrick==1.3.post1
yfinance==0.1.70
-e git+https://github.com/zapatacomputing/z-qml-qeo.git@530b41460406699afd4e4659a42b2bcddb333136#egg=z_qml_qeo
-e git+https://github.com/zapatacomputing/z-quantum-visualization.git@3a266a2cc7dc17bd143d14de93abac6a01d695d2#egg=z_quantum_visualization
zict==1.0.0
zipp==2.2.0
